# Database
DB_HOST=127.0.0.1
DB_PORT=3307
DB_NAME=focus_app
DB_USER=root
DB_PASSWORD=

# Chargily
CHARGILY_MODE=test
CHARGILY_API_KEY=
CHARGILY_API_SECRET=

# Public site URL
SITE_URL=http://localhost/pomodoro
